@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.main{
    width: 100%;
    background-image: url('images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
}

.contact-main{
    width: 50;
    height: 200;
    float: right;
    margin-top: 100px;
}

.link{
    float: right;
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 0px;
    margin-right: 10px;
}

li{
    
    list-style: none;
    margin-top: 100px;
    margin-right: 10px;

}

.logo{
    padding-left: 20px;
    padding-top: 20px; 
   
}

.text{
    font-size: 60px;
    color: black;
    font-family: Avenir;
    padding-left: 100px;
    padding-top: 70px;
}