@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-image: url("images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Comfortaa", cursive !important;
}

a {
  text-decoration: none;
  color: #212529;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.container {
  margin-top: 90px;
}

.myrow {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.logo {
  margin: 10px 40px;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.wrap {
  text-align: center;
  padding: 30px 50px;
}

.wrap .h1 {
  font-weight: 600 !important;
  padding: 20px 0px !important;
}

.wrap .h2 {
  font-weight: 500 !important;
}

.wrap .contact-item {
  padding: 12px 0;
  font-size: 1.2rem;
  position: relative;
  border: 0.5px solid #212529;
  border-radius: 25px;
  margin: 10px 0px;
  transition: ease-in 0.3s;
}

.wrap .contact-item:hover {
  background-color: #212529;
  color: #fff !important;
}

.wrap .contact-item img {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 50px;
  padding: 5px 0px;
}

.wrap h2{
    margin-top: 30px;
}